{{!-- <section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a>
</section> --}}



<div class="card" style="width: 18rem;">
  <img src="{{book.thumnail}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.author}}.</p>
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>