

<div class="search">
  <h1>Search by author:</h1>
  <input id="author-search" class="search-bar" placeholder="Enter an author's name here..." />
  <button id="search-button"><i class="fas fa-search fa-lg"></i></button>

</div>

<div class="results">

  {{#each books as | book | }}

  <div class="book">

    <div class="info">
      <img src="{{book.thumbnail}}" style="float:left">
      <h2>{{book.title}}</h2>
      <h3> By: {{book.authors}}</h3>
      <h4>ISBN: {{book.isbn13}}<br>
        Genre: {{book.categories}}<br>
        Published: {{book.published_year}}<br>
        Number of Pages: {{book.num_pages}}<br> </h4>
    </div>
    <hr>
    <div class="desc">
      <p>{{book.description}}</p>
    </div>

  </div>




  {{/each}}


</div>
<script src="/js/author-search.js"></script>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
