 <div>
 
 <img src="{{book.thumbnail}}" alt="Book Cover">
        <h2>{{book.title}}</h2>
        <h4>{{book.authors}}</h4>
       <h4>{{book.categories}}</h4>
           <h4>{{book.published_year}}</h4>
           <h4>{{book.average_rating}} / {{book.ratings_count}} </h4> 
        <h4>{{book.isbn13}}</h4>
        <h4>{{book.num_pages}}</h4>
        <p>{{book.description}}</p>
        
        
        </div>